[Desktop Entry]
Name=Youtube Downloader
GenericName=Download Youtube videos as video or audio files.
Comment=Download youtube videos/audio
Exec=ytdlp-gui
Icon=ytdlp-gui
Terminal=false
Type=Application
Categories=Video;Audio;
