pkgbase = ytdlp-gui
	pkgdesc = a GUI for yt-dlp written in Rust
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/BKSalman/ytdlp-gui
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = pkgconf
	makedepends = git
	depends = ffmpeg
	depends = yt-dlp
	source = ytdlp-gui-3.1.0.tar.gz::https://github.com/BKSalman/ytdlp-gui/archive/refs/tags/v3.1.0.tar.gz
	sha256sums = 6ea34e6ac5f97c673905c1cb0d2d081381a0d6fabe06412b6c0b250386319a85

pkgname = ytdlp-gui
