pkgbase = ytdlp-gui
	pkgdesc = a GUI for yt-dlp written in Rust
	pkgver = 1.1.1
	pkgrel = 2
	url = https://github.com/BKSalman/ytdlp-gui
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = pkgconf
	makedepends = git
	depends = ffmpeg
	depends = yt-dlp
	source = ytdlp-gui-1.1.1.tar.gz::https://github.com/BKSalman/ytdlp-gui/archive/refs/tags/v1.1.1.tar.gz
	sha256sums = 825cde03a008c31e781491ad01387cfc55d058f965f0bd7ed53ed97e3c55405f

pkgname = ytdlp-gui
